.govgr-grid-column-three-thirds {
  grid-column: span 3 / span 3;
}

.form-required {
  position: relative;
  display: inline-block;
}
.form-required::after {
  position: absolute;
  right: -10px;
  margin: 0;
}

.form-actions {
  display: flex;
}

.govgr-header__content {
  width: 100%;
}
.govgr-header .govgr-nav {
  position: relative;
}
@media (min-width: 640px) {
  .govgr-nav {
    background-color: transparent;
  }
}
.region-header {
  margin-left: auto
}
.govgr-width-container,
.govgr-header__container {
  max-width: 104rem;
}

.govgr-layout-grey {
  background-color: var(--color-base-200);
}

.govgr-tabs__no-panel {
  margin-top: 1rem;
  border-width: 0 0 1px 0;
  border-color: rgba(var(--color-base-400-rgb), var(--tw-border-opacity));
}

.field__label {
  font-weight: bold;
  margin-top: 0.5rem;
}

.govgr-field {
  position: relative;
  margin-bottom: 1rem;
}

.govgr-radios__label {
  margin-left: 3rem;
}

.views-exposed-form .govgr-btn,
.views-exposed-form .govgr-field {
  position: relative;
  margin-bottom: 0px;
  max-width: 250px;
}

.views-exposed-form .form--inline {
  display: flex;
  gap: 10px;
  align-items: end;
  margin-bottom: 10px;
  flex-wrap: wrap;  
}

.views-exposed-form .govgr-form {
  display: flex;
  gap: 10px;
  align-items: end;
  margin-bottom: 10px;
}


.diff-revisions .govgr-radios__input {
  scale: 0.5;
}

.govgr-heading-xl {
  max-width: none;
}

.govgr-btn {
  margin-right: 0.5rem;
}

.govgr-btn-small {
  font-size: 15px;
  padding: 5px 10px;
  margin: 13px;
  display: inline-block;
}

.govgr-btn.form-disabled {
  opacity: 0.5;
} 

pre {
  background: rgba(var(--color-base-300-rgb));
  padding: 0.5rem;
}

/* 
  combine .node-incoming-edit-form and 
  node-incoming-form into one rule 
  [class*="node-incoming-"] 
*/

[class*="node-incoming-"] details,
.node--type-incoming details {
  background-color: #eee;
  padding: 1rem;
  margin-top: 0.5rem;
}

.kemke-reports-objective-config-form .details-wrapper,
[class*="node-incoming-"] .details-wrapper .paragraphs-subform,
[class*="node-incoming-"] .details-wrapper {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
}

.kemke-reports-objective-config-form .details-wrapper .form-type-textfield,
.kemke-reports-objective-config-form .details-wrapper .form-type-number,
[class*="node-incoming-"] .details-wrapper .field--type-string,
[class*="node-incoming-"] .details-wrapper .field--type-datetime, 
[class*="node-incoming-"] .details-wrapper .field--type-entity-reference,
[class*="node-incoming-"] .details-wrapper .paragraphs-subform .field--type-string,
[class*="node-incoming-"] .details-wrapper .paragraphs-subform .field--type-datetime, 
[class*="node-incoming-"] .details-wrapper .paragraphs-subform .field--type-entity-reference {
  width: 250px;
}

#user-form .details-wrapper .form-type-number,
#user-form .details-wrapper .field--type-string,
#user-form .details-wrapper .form-type-email,
#user-form .details-wrapper .form-text.username {
  width: 300px;
}
#user-form .details-wrapper .form-text.username {
  display: block;
}

[class*="node-incoming-"] .details-wrapper .paragraphs-subform .field--type-file {
  width: 450px;
}

[class*="node-incoming-"] .details-wrapper .field--name-field-related-incoming {
  width: 100%;
}

[class*="node-incoming-"] .details-wrapper .ief-entity-table .field--type-string,
[class*="node-incoming-"] .details-wrapper .ief-entity-table .field--type-datetime, 
[class*="node-incoming-"] .details-wrapper .ief-entity-table .field--type-entity-reference {
  width: auto;
}

[class*="node-incoming-"] .details-wrapper .field--widget-select2-entity-reference {
  width: 700px;
}

[class*="node-incoming-"] .details-wrapper .paragraphs-subform .field--type-entity-reference {
  width: 400px !important;
}

[class*="node-incoming-"] .details-wrapper .field--type-datetime .form-type-date {
  display: block;
}

[class*="node-incoming-"] #edit-group-files .details-wrapper {
  display: block;
}
#field-documents-values {
  width: 100%
}

#field-remarks-values thead,
.tabledrag-toggle-weight-wrapper,
#field-documents-values thead,
#field-documents-values td:empty,
#field-documents-values .js-filter-wrapper,
#field-documents-values .delta-order,
#field-documents-values .field-multiple-drag,
#field-documents-values .paragraph-top {
  display: none;
}
#field-documents-values td {
  border: 1px solid #ccc;
  padding: 20px;
}

.form-type-managed-file .description{
  font-size: 0.7rem;
}


tr[data-hierarchy-level="1"] .views-tree-hierarchy-cell {
  padding-left: 2rem !important;
}
tr[data-hierarchy-level="2"] .views-tree-hierarchy-cell {
  padding-left: 3rem !important;
}
tr[data-hierarchy-level="3"] .views-tree-hierarchy-cell {
  padding-left: 4rem !important;
}
tr[data-hierarchy-level="4"] .views-tree-hierarchy-cell {
  padding-left: 5rem !important;
}

.govgr-views-table-container {
  overflow-x: unset;
}

.govgr-views-table-container table thead th {
  position: sticky;
  top: var(--drupal-displace-offset-top, 0);
  z-index: 99;
  background: inherit;
}

.govgr-list--bullet li {
  color: white;
  font-size: 2rem;
}

.govgr-checkboxes__input {
  zoom: 60%;
}
[type="checkbox"], [type="radio"] {
  width: 2.5rem;
  height: 2.5rem;
  zoom: 60%;
}

.govgr-panel__title {
  font-size: 1.5rem;
  line-height: 2rem;
  margin-bottom: 0;
}

.govgr-hint {
  font-size: 14px;
}

.toolbar-vertical.toolbar-fixed .sticky-section,
.toolbar-horizontal.toolbar-fixed .sticky-section {
  padding-top: 39px;  
}
.toolbar-vertical.toolbar-fixed:not(.path-incoming) .sticky-section,
.toolbar-horizontal.toolbar-fixed:not(.path-incoming) .sticky-section {
  padding-top: 0px;  
  position: sticky;
  top: 39px;
  z-index: 100;
  background: white;
}
.toolbar-horizontal.toolbar-fixed.toolbar-tray-open .sticky-section {
  top: 79px;
}

.govgr-layout-wrapper__full-height {
  padding-top: 50px;
}

.path-incoming .govgr-layout-wrapper__full-height {
  padding-top: 20px;
}

td a {
  text-decoration: underline;
  text-underline-offset: 4px;
}
td a:focus,
td a:hover {
  text-decoration: none;
}
