.govgr-grid-column-three-thirds {
  grid-column: span 3 / span 3;
}

.form-required {
  position: relative;
  display: inline-block;
}
.form-required::after {
  position: absolute;
  right: -10px;
  margin: 0;
}

.form-actions {
  display: flex;
}

.govgr-header__content {
  width: 100%;
}
.govgr-header .govgr-nav {
  position: relative;
}
@media (min-width: 640px) {
  .govgr-nav {
    background-color: transparent;
  }
}
.region-header {
  margin-left: auto
}