.govgr-grid-column-three-thirds {
  grid-column: span 3 / span 3;
}

.form-required {
  position: relative;
  display: inline-block;
}
.form-required::after {
  position: absolute;
  right: -10px;
  margin: 0;
}

.form-actions {
  display: flex;
}

.govgr-header__content {
  width: 100%;
}
.govgr-header .govgr-nav {
  position: relative;
}
@media (min-width: 640px) {
  .govgr-nav {
    background-color: transparent;
  }
}
.region-header {
  margin-left: auto
}

.govgr-layout-grey {
  background-color: var(--color-base-200);
}

.govgr-tabs__no-panel {
  margin-top: 1rem;
  border-width: 0 0 1px 0;
  border-color: rgba(var(--color-base-400-rgb), var(--tw-border-opacity));
}

.field__label {
  font-weight: bold;
  margin-top: 0.5rem;
}

.govgr-heading-xl {
  max-width: none;
}

.govgr-btn {
  margin-right: 0.5rem;
}

pre {
  background: rgba(var(--color-base-300-rgb));
  padding: 0.5rem;
}