.node--type-incoming.node--unpublished {
  background-color: transparent;
}

/* Hide text format help text */
.field--name-field-comment .text-format-wrapper > div:nth-child(2),
#edit-field-subject-0-format {
  display: none;
}

.pager__items .pager__item {
  display: inline-block;
}
.pager__items .pager__item a {
  border: 1px solid #ccc;
  padding: 5px 10px;
}
.pager__items .pager__item.is-active a {
  background-color: #ccc;
}

.govgr-table-simple {
  border: 1px solid #38444d;
}
.govgr-table-simple .govgr-btn {
  margin: 0;
}
.govgr-table-simple tr {
  border-bottom: 1px solid #38444d;
}
.govgr-table-simple thead th {
  background-color: #c9cbcb;
}
.govgr-table-simple tr:nth-child(odd) {
  background-color: #1d2a35;
}
.govgr-table-simple tr:nth-child(even) {
  background-color: #efefef;
}

.govgr-table-simple {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  display: table;
  border: 1px solid #ccc;
}
.govgr-table-simple tr {
  border-bottom: 1px solid #ddd;
}
.govgr-table-simple tr:nth-child(odd) {
  background-color: #fff;
}
.govgr-table-simple tr:nth-child(even) {
  background-color: #e7e9eb;
}
.govgr-table-simple td,
.govgr-table-simple th {
  padding: 8px 8px;
  display: table-cell;
  text-align: left;
  vertical-align: top;
}
.govgr-table-simple th:first-child,
.govgr-table-simple td:first-child {
  padding-left: 16px;
}

.kemke-report-results .item-list {
  font-size: 1.8rem;
}

.select2-container--default .select2-selection--single .select2-selection__clear,
.select2-container--default .select2-selection--single .select2-selection__arrow,
.select2-container--default .select2-selection--single .select2-selection__rendered,
.select2-container .select2-selection--single {
  height: 41px;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
  line-height: 41px;
}

.field-group-fieldset {
  border: 1px solid #ccc;
  padding: 15px;
}

.field-group-fieldset h4.label,
.field-group-fieldset fieldset > legend {
  display: none;
}
