.node--type-incoming.node--unpublished {
  background-color: transparent;
}

/* Hide text format help text */
.field--name-field-comment .text-format-wrapper > div:nth-child(2),
#edit-field-subject-0-format {
  display: none;
}

#field-remarks-add-more-wrapper .field--name-field-legal-entity .govgr-hint.description,
#edit-field-tags--description,
#edit-field-operators--description {
  display: none;
}
.pager__items .pager__item {
  display: inline-block;
}
.pager__items .pager__item a {
  border: 1px solid #ccc;
  padding: 5px 10px;
}
.pager__items .pager__item.is-active a {
  background-color: #ccc;
}

.govgr-table-simple {
  border: 1px solid #38444d;
}
.govgr-table-simple .govgr-btn {
  margin: 0;
}
.govgr-table-simple tr {
  border-bottom: 1px solid #38444d;
}
.govgr-table-simple thead th {
  background-color: #c9cbcb;
}
.govgr-table-simple tr:nth-child(odd) {
  background-color: #1d2a35;
}
.govgr-table-simple tr:nth-child(even) {
  background-color: #efefef;
}

.govgr-table-simple {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  display: table;
  border: 1px solid #ccc;
}
.govgr-table-simple tr {
  border-bottom: 1px solid #ddd;
}
.govgr-table-simple tr:nth-child(odd) {
  background-color: #fff;
}
.govgr-table-simple tr:nth-child(even) {
  background-color: #e7e9eb;
}
.govgr-table-simple td,
.govgr-table-simple th {
  padding: 8px 8px;
  display: table-cell;
  text-align: left;
  vertical-align: top;
}
.govgr-table-simple th:first-child,
.govgr-table-simple td:first-child {
  padding-left: 16px;
}

.kemke-report-results .item-list {
  font-size: 1.8rem;
}

.select2-container--default .select2-selection--single .select2-selection__clear,
.select2-container--default .select2-selection--single .select2-selection__arrow,
.select2-container--default .select2-selection--single .select2-selection__rendered,
.select2-container .select2-selection--single {
  height: 41px;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
  line-height: 41px;
}

.field-group-fieldset {
  border: 1px solid #ccc;
  padding: 15px;
}

.field-group-fieldset h4.label,
.field-group-fieldset fieldset > legend {
  display: none;
}
.field-group-fieldset .field--name-field-extension-date h4.label,
.field-group-fieldset .field--name-field-start-date h4.label {
  display: block;
}

.full-width-flexbox {
  width: 100%;
  display: flex;
  gap: 20px;
}

.field--name-field-remarks,
.incoming-remarks-field.field-comment {
  width: 100%;
}
.paragraph--type--remark {
  display: flex;
  flex-wrap: wrap;
  column-gap: 16px;
  row-gap: 6px;
}
.paragraph--type--remark .field--name-field-comment {
  flex-basis: 100%;
}
div.incoming-remarks-field.visible-to-amke {
  font-weight: bold;
  font-size: 120%;
}
tr.visible-to-amke {
  border-left: 10px solid #999;
}

.select2-container--default .select2-selection--single .select2-selection__clear {
  font-size: 20px;
}
.feed-icons .views-data-export-feed {
  display: inline-flex;
  align-items: center;
}
.feed-icons .views-data-export-feed .feed-icon {
  width: 48px;
  height: 48px;
  background-size: 48px 48px;
}
.feed-icons .pdf-feed .feed-icon {
  background-image: url(../images/icons/pdf.svg) !important;
}
.feed-icons .xls-feed .feed-icon {
  background-image: url(../images/icons/xls.svg) !important;
}

/* notify widget */
.region-header {
  display: flex;
}
.region-header #notify_widget {
  z-index: 1000;
  margin: 2px 15px;
}
#notify_widget #notify_widget_popup {
  padding: 10px;
}
.region-header #notify_widget #notify_widget_popup .inner {
  border: none;
}

.view-activities-mods-node-activity  .views-field-info {
  line-height: 24px;
  letter-spacing: 0.2px;
  font-size: 15px;  
}
body.user-notifications table.govgr-table-simple > tbody > tr > td:nth-child(4),
.region-header #notify_widget #notify_widget_popup .inner a .notification .text_wrapper .text {
  white-space: pre-line;
  overflow-wrap: anywhere;
  line-height: 24px;
  letter-spacing: 0.2px;
  font-size: 15px;  
}
.region-header #notify_widget>a {
  background-image: url(../images/icons/bell-h2.svg) !important;
  background-size: 24px 24px;
  background-position: center;
  background-repeat: no-repeat;
  filter: brightness(0) invert(1);
}
.region-header #notify_widget .unread {
  left: 23px;
  top: -2px;
}

.govgr-error-summary .govgr-list--bullet li {
  color: black;
}

.field--name-field-user .profile {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.home-toolbar-tab {
  display: none !important;
}

.action-links {
  display: flex;
}
.action-links .govgr-btn-small {
  margin: 15px 10px 5px 0px;
}
#ief-entity-table-edit-field-absenses-ref-entities .ief-entity-operations {
  display: flex;
  gap: 5px;
}

/* views date filter */ 
#edit-entry-wrapper .fieldset-wrapper {
  display: flex;
}
#edit-entry-wrapper .fieldset-legend {
  font-size: 1.1875rem;
}
#edit-entry-wrapper .label {
  display: none;
}
#edit-entry-wrapper #edit-entry-min:after {
  content: '-';
  margin: 5px;
  font-size: 22px;
}
#edit-entry-wrapper #edit-entry-max > div,
#edit-entry-wrapper #edit-entry-min > div {
  width: 165px;
}

.region-content .user-pass,
.region-content .user-login-form {
  display: block;
  width: 400px;
  margin: 0 auto;
}
